/* Selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* conversion a 10px */
html {
  font-size: 62.5;
  scroll-behavior: smooth;
}

h1 {
  background-color: dimgray;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  font-family: "Silkscreen", cursive;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

form {
  font-family: "Silkscreen", cursive;
  margin-left: 2rem;
  font-size: 1rem;
}

input{
  color: #666;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 12px #ccc, -6px -6px 12px #fff;
  font-family: "Silkscreen", cursive;
}

button {
  color: #666;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 12px #ccc, -6px -6px 12px #fff;
  font-family: "Silkscreen", cursive;
}

button:active{
  box-shadow: inset 2px 2px 12px #ccc,
  inset -4px -4px   12px #fff ;
}
